
{% block body %}
<div class="search">
    <form action = "">
        <input type = "text" name = "query" placeholder="Search for...">
        <button type = "submit">Submit Search</button>
    </form>
    <p>query is : {{query}}</p>
</div>

{% for each_gif in gifs_returned %}
    {% include 'gif.html' %}
{% endfor %}
{% endblock %}

<!-- √: Extend 'base.html' and put content into a block 'body' to match -->
<!-- √: Make an HTML form containing a search box and a submit button to add
the search term to the query string -->
<!-- √: Make a for loop to loop over GIFs passed in from the server -->
<!-- √: For each gif, include the 'gif.html' template to display it -->