<!-- √: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}
{% block body %}
<div class="center">
    <div class="search">
        <!-- √: Make an HTML form containing a search box and a submit button to add
        the search term to the query string -->
        <form action = "/">
            <input class="search" type ="text" name ="query" placeholder="Search for...">
            <button type="submit" name ="search_buttons" value="search">Submit Search</button>
            <button type="submit" name ="search_buttons" value="trending">Trending GIFs</button>
            <button type="submit" name ="search_buttons" value="random">Random GIFs</button>
        </form>
        <p>{{query}}</p>
    </div>
</div>
<!-- √: Make a for loop to loop over GIFs passed in from the server -->
<div class="center">
    {% for gif in gif_list %}
    <!-- √: For each gif, include the 'gif.html' template to display it (literally don't use 'for each' lol)-->
    {% include 'gif.html' %}
    {% endfor %}
</div>
{% endblock %}